<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>CPE产品</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/headAndFood.css">
    <link rel="stylesheet" href="../static/css/brand.css">
</head>
<body>

<div class="head">
    <a href="/index">
        <div class="head_img">
            <img src="../static/image/logo.png"/>
        </div>
    </a>
    <div class="head_search">
        <div class="layui-form head_search_form">
            <input type="text" name="title" class="layui-input" placeholder="输入关键词搜索">
        </div>
        <i class="layui-icon layui-icon-search" id="productListHear"></i>
    </div>
    <div class="head_menu">
        <ul>
            <li><a href="/product">产品甄选</a></li>
            <li><a href="/member">会员专享</a></li>
            <li><a href="/brand">品牌专研</a></li>
            <li><a href="/article">相关文章</a></li>
        </ul>
    </div>

</div>

<div class="content">
    <div class="banner">
        <div class="bannery">
            <div class="banner_title1">STORY</div>
            <div class="banner_title2"></div>
            <div class="banner_title3">时间永远在分岔，通向无数的未来</div>
            <div class="banner_title4">Time is always diverging, leading to countless futures</div>
            <div class="banner_title5">
                因为时间，有了印记，时间赋予生命以美，同时烙下脆弱、短暂，如何让美超越时间？科学家们花了无数时间，追寻时间。直到20世纪60年代，干细胞的存在被证实，生命之美对于时间的逆寻，从此开启。
            </div>
        </div>

    </div>
    <div class="banner2">
        <div class="bann_title1">CPE 科学对美的献礼</div>
        <div class="bann_title2">CPE Science's contribution to beauty</div>
        <div class="bann_p">
            cpe，cell pretty evocation 的缩写，由赛莱拉干细胞研究院研发。
        </div>
        <div class="bann_p">赛莱拉干细胞研究院创始人陈海佳博士，联合诺奖得主，院士及多位博士青年科学家，开启了长达十年的干细胞科学研究；研究肌肤衰老的机理和延缓衰老的解决方案。</div>
        <div class="bann_p">
            cpe 并非是人类数代护肤经验的简单重复，而是源于对生命过程从细胞分子水平研究的突破，及外泌体的作用机理的研究，诞生于实验室；她藉由科学家的探索精神和科学技术的革新，不仅是护肤品，更是科学对美的至高献礼。
        </div>
    </div>

    <div style="background: linear-gradient(to right, rgba(0,0,0,0) 6%, rgba(255, 255, 255, 0.8) 50%, rgba(0,0,0,0) 94%);text-align: center;float: left;width: 100%;height: 1px;"></div>

    <div class="banner4">
        <div class="ban4_title1">细胞科技 唤醒美丽</div>
        <div class="ban4_title2">Cell Pretty Evocation</div>
        <div style="  width: 100%;  float: left;">
            <div class="ban4_li1">
                <div class="ban4_img"><img src="../../static/image/brand/2.png"></div>
                <!--                <div class="ban_title">干细胞</div>-->
                <!--                <div class="ban_title2">EXOSOME</div>-->
                <div class="ban_p">细胞，是人类生命之源<br>通过细胞，破解皮肤的再生和治愈密码</div>
            </div>
            <div class="ban4_li2">
                <div class="ban4_img"><img src="../../static/image/brand/3.png"></div>
                <!--                <div class="ban_title">干细胞</div>-->
                <!--                <div class="ban_title2">EXOSOME</div>-->
                <div class="ban_p">将外泌体引至护肤领域<br>开启新式抗衰之旅</div>
            </div>
        </div>
        <div style=" width: 100%; float: left;">
            <div class="ban4_li1">
                <div class="ban4_img"><img src="../../static/image/brand/4.png"></div>
                <!--                <div class="ban_title">干细胞</div>-->
                <!--                <div class="ban_title2">EXOSOME</div>-->
                <div class="ban_p">自主研发的干细胞无血清培养基<br>致力于打破国外垄断</div>
            </div>
            <div class="ban4_li2">
                <div class="ban4_img"><img src="../../static/image/brand/5.png"></div>
                <!--                <div class="ban_title">干细胞</div>-->
                <!--                <div class="ban_title2">EXOSOME</div>-->
                <div class="ban_p">十年细胞科研成果降维应用<br>医疗级的生产过程控制</div>
            </div>
        </div>
    </div>
</div>

<div class="foot">
    <div class="footlogo"></div>
    <div class="footli">
        <div class="footlileft">
            <div>细胞科技 换醒美丽</div>
            <div class="footEnglish">Cell Pretty Evocation</div>
        </div>
        <div class="footliright">
            <div class="lirightleft">
                <div class="menu1"><a href="/product">产品甄选</a></div>
                <div class="menu2"><a href="/member">会员专享</a></div>
                <div class="menu3"><a href="/brand">品牌专研</a></div>
                <div class="menu4"><a href="/member">相关文章</a></div>
            </div>
            <div class="lirightright">
                <div class="imgli1">
                    <img src="../static/image/foot/phone.png"/>
                    <span>+86 0757 2639 1305</span>
                </div>
                <div class="imgli2">
                    <img src="../static/image/foot/email.png"/>
                    <span> info@cpeskincare.cn</span>
                </div>
                <div class="imgli3">
                    <div id="weixinI"> <img src="../static/image/foot/weixin.png" />
                        <img src="../static/image/foot/weixinQ.png" id="weixinQ"/>
                    </div>
                    <a target="_blank" href="https://weibo.com/u/7282313186"> <img src="../static/image/foot/weibo.png"/></a>
                    <a target="_blank" href="https://www.xiaohongshu.com/user/profile/5bda652c9333970001cf7ee9"> <img src="../static/image/foot/xiaohongshu.png"/></a>
                    <a target="_blank" href="https://cpehzp.tmall.com/"> <img src="../static/image/foot/tonm.png"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="linediv"></div>
    <div class="foottiaokuan">

        <div class="tiaokuan1">©CPE有限公司版权所有。沪ICP备0800523号</div>
        <div class="tiaokuan2">细则及条款</div>
        <div class="tiaokuan3">隐私条款</div>
        <div class="tiaokuan4">用户生成的权限条款</div>
    </div>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'form', 'carousel'], function () {
        var element = layui.element;
        var form = layui.form;


        $("#productListHear").click(() => {
            window.location.href = "/product?title=" + $("input[name=title]").val();
        })
    });


</script>

</body>
</html>